.container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "a a b c d"
    "e f g g h"
    "i j g g ."
    "k k k l m ";
    }
    #a{
      grid-area: a;
      border-radius: 5px;
      background-color:black;
      border-radius: 5px;
    }
    #b{
      grid-area: b;
      background-color: red;
      border-radius: 5px;
    }
    #c{
      grid-area: c;
      background-color:purple;
      border-radius: 5px;
    }
    #d{
      grid-area: d;
      background-color:pink;
      border-radius: 5px;
    }
    
    #e{
      grid-area: e;
      background-color:rgb(0, 255, 0);
      border-radius: 5px;
    }
    #f{
      grid-area: f;
      background-color:cyan;
      border-radius: 5px;
    }
    #g{
      grid-area: g;
      background-color:orangered;
      border-radius: 5px;
    }
    #h{
      grid-area: h;
      background-color:lightseagreen;
      border-radius: 5px;
    }
    #i{
      grid-area: i;
      background-color:silver;
      border-radius: 5px;
    }
    #j{
      grid-area: j;
      background-color:darkblue;
      border-radius: 5px;
    }
    #k{
        grid-area: k;
        background-color:rebeccapurple;
        border-radius: 5px;
      }
      #l{
        grid-area: l;
        background-color:salmon;
        border-radius: 5px;
      }
    
    #m{
      grid-area: m;
      border-radius: 5px;
      background-color:gold;
    }
    
    @media only screen and (max-width:600px){
     .container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(13,160px);
      grid-template-areas:
      "a"
      "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i"
        "j"
        "k"
        "l"
        "m";
        grid-gap: 15px;
     }
    
    }